html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  line-height: 24px;
  background: #fff;
  color: #272a31;
  scroll-behavior: smooth;
}

* {
  font-family: 'lato', sans-serif, Geneva, Tahoma;
}

h1 {
  margin: 10px;
}

thead,
tr {
  text-align: center;
}

.main-content {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  font-family: 'lato', sans-serif;
  margin-top: 5%;
}
